{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}
<h1>businessman page logistic supporters</h1>
<div class='container'>
    <li class="list-group-item" style="height: 15ch;">
        1..Showing the picture which uploaded by logistic accuont
        <div class="card-body">
            <h5 class="card-title">Logistic Vehicle</h5>
            <p class="card-text"> pictures and 3d along with 360 veiws of vehicles as L.S can give</p>
            <a href="/Logisticmainpage" class="btn btn-primary">Go to the L.S page for discovering more..</a>
          </div>
    </li>
</div>
        

{% endblock body %}