{% extends 'base.html' %}
{% block body %}


<form action="/" method="POST">
    <div class="container">
        <h2>MAKE YOUR STOCK</h2>
        <div class="row mb-3">
            <div class="col">
                <label for="product_name" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="product_name" id="product_name"
                    aria-describedby="emailHelp">
            </div>
            <div class="col">
                <label for="product_quantity" class="form-label">Product Quantity</label>
                <input type="number" class="form-control" name="product_quantity" id="product_quantity">
            </div>
            <div class="col">
                <label for="product_price" class="form-label">Product price</label>
                <input type="number" class="form-control" name="product_price" id="product_price">
            </div>
        </div>
        <button type="submit" class="btn-sm" style="color: rgb(96, 116, 141);outline-offset: darkturquoise;">Submit</button>
    </div>

</form>


<div class="container mb-3">

    <h2>Your Stock Products</h2>

    {% if products|length == 0 %}

    <div class="alert" style="color: brown;background: rgb(196, 226, 171);" role="alert">
        No Products found. Add your first products now!
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Quantity</th>
                <th scope="col">Product Price</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{product.product_name}}</td>
                <td>{{product.product_quantity}}</td>
                <td>{{product.product_price}}</td>
                <td>{{product.date_created}}</td>

                <td>
                    <a href="/update/{{product.SNo}}" type="button"
                        class="btn btn-outline-dark btn-sm mx-1">Update</button>
                        <a href="/delete/{{product.SNo}}" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Delete</button>

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

{% endblock body %}